.button {
    display: inline-block;
    background-color: $blue;
    height: 60px;
    color: #FFF;
    font: 13px/58px $os;
    font-weight: 600;
    letter-spacing: 0.075em;
    text-shadow: 0px 1px 0px rgba(0, 22, 38, 0.2);
    box-shadow: 0px 1px 0px 0px rgba(0, 22, 38, 0.2);
    text-align: center;
    width: 170px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    @include transition(all, .2s);
    -webkit-border-radius: 30px;
            border-radius: 30px;
    &:hover {
        background-color: $blued;
    }
    &--medium {
        height: 45px;
        line-height: 43px;
        text-shadow: 0px 1px 0px rgba(0, 22, 38, 0.4);
    }
    &--transparent {
        background-color: transparent;
        border: 1px solid $blue;
        color: $blue;
        font-size: 13px;
        &:hover {
            background-color: $blue;
            color: #FFF;
        }
    }
    &--white--transparent {
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        font-size: 13px;
        &:hover {
            background-color: #fff;
            color: $blued;
        }
    }
    &--white {
        background-color: #FFF;
        border: none;
        color: $text;
        &:hover {
            background-color: $blued;
            color: #FFF;
        }
    }
}


.read-more {
    color: $green;
    text-transform: uppercase;
    font-size: 13px;
    display: inline-block;
    i {
        margin-left: 10px;
        font-weight: 100;
        font-style: normal;
    }
}

.breadcrumbs {
    list-style-type: none;
    text-align: left;
    li {
        display: inline-block;
        vertical-align: middle;
        a {
            text-transform: uppercase;
            color: $blue;
            font: 500 14px $r;
            &:after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                content: "/";
                margin: 0 5px 0 7px;
            }
        }
        &:last-of-type {
            a {
                color: $grey;
                &:after {
                    display: none;
                }
            }
        }
    }
}