.focus--list {
    @include flex($direction: column, $alignI: flex-start);
}
.focus {
    width: 72%;
    @include flex($alignI: flex-start);
    padding: 25px 25px 50px;
    box-shadow: 0px 20px 60px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 80px;
    text-align: left;
    background-repeat: no-repeat;
    @media (max-width: 1350px) {
        width: 100%;
    }
    @media (max-width: 500px) {
        padding: 15px 15px 30px;
        margin-bottom: 40px;
    }
    &__img {
        width: 46%;
        text-align: center;
        @media (max-width: 700px) {
            width: 100%;
        }
        img {
            max-width: 100%;
            display: inline-block;
            margin-bottom: 22px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__info {
        width: 54%;
        padding-left: 40px;
        padding-top: 30px;
        @media (max-width: 700px) {
            width: 100%;
            padding-left: 0;
        }
        strong {
            display: block;
            margin-bottom: 25px;
            font: 700 26px $r;
        }
    }
    &:nth-child(2n) {
        padding-left: 35px;
        -webkit-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        -webkit-align-self: flex-end;
                align-self: flex-end;
        @media (max-width: 700px) {
            padding-left: 25px;
        }
        @media (max-width: 500px) {
            padding-left: 15px;
        }
        .focus__info {
            padding-right: 40px;
            padding-left: 0;
            @media (max-width: 700px) {
                padding-right: 0;
            }
        }
    }
    &:nth-of-type(1),
    &:nth-of-type(5) {
        background-image: url("../images/green-1.jpg");
        background-position: 115% 51%;
    }
    &:nth-of-type(2),
    &:nth-of-type(6) {
        background-image: url("../images/blue-1.jpg");
        background-position: 27% 153%;
    }
    &:nth-of-type(3),
    &:nth-of-type(7) {
        background-image: url("../images/green-2.jpg");
        background-position: 67% 40%;
    }
    &:nth-of-type(4) {
        background-image: url("../images/blue-2.jpg");
        background-position: 144% 540%;
    }
}
