         
.mainHeader {
    @include position(fixed, 0, 0, auto, 0);
    @include transition(all, .2s);
    z-index: 100;
    @include m1000 {
        width: 100%;
        height: 100%;
        padding: 40px 10px;
        background-color: #FFF !important;
        overflow-y: scroll;
        -webkit-transition: transform .4s ease-out;
           -moz-transition: transform .4s ease-out;
            -ms-transition: transform .4s ease-out;
             -o-transition: transform .4s ease-out;
                transition: transform .4s ease-out;
        -webkit-transform: translateY(-100%);
           -moz-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
             -o-transform: translateY(-100%);
                transform: translateY(-100%);
        &.active {
            -webkit-transform: translateY(0%);
               -moz-transform: translateY(0%);
                -ms-transform: translateY(0%);
                 -o-transform: translateY(0%);
                    transform: translateY(0%);
        }
    }
    .wrapper {
        @include flex();
        padding-top: 8px;
        position: relative;
        @include m1000 {
            display: block;
        }
    }
    @media (min-width: 1000px) {
        &.hasScrolled {
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
            background-color: #FFF;
            padding-bottom: 4px;
        }
        &.hasScrolled:not(.mainHeader--dark) {
            background-color: rgba(0,22,38,.8);
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
            .mainHeader__top {
                background-color: #FFF;
            }
        }
    }
    @media (min-width: 1570px) {
        &.mainHeader--compact.hasScrolled {
            padding-bottom: 30px;
        }
    }
    &__top {
        background-color: rgba(255,255,255,.5);
        padding: 0 20px 2px;
        @include flex();
        height: 35px;
        @include m1000 {
            height: auto;
            margin-bottom: 20px;
            display: block;
            text-align: center;
        }
    }
    .contact-compact {
        display: none;
        width: 120px;
        text-align: justify;
        top: 50px;
        position: absolute;
        right: -180px;
        @media (max-width: 1570px) {
            position: static;
        }
        @include m1000 {
            display: block;
            margin: 20px auto;
        }
        a {
            display: inline-block;
            vertical-align: middle;
            width: 14px;
            text-align: center;
            &:nth-child(2) {
                margin: 0 32px;
            }
            i {
                color: $blue;
                display: inline-block;
                vertical-align: middle;
                width: 14px;
                @include transition(all, .2s);
            }
            &:hover {
                i {
                    color: $blued;
                }
            }
        }
        button {
            width: 100%;
            border: none;
            margin-top: 18px;
            height: 30px;
            display: block;
            background-color: #c9cfd4;
            text-align: center;
            color: #FFF;
            box-shadow: 0px 1px 0px 0px rgba(0, 22, 38, 0.2);
            text-transform: uppercase;
            font: 13px/30px $os;
            cursor: pointer;
            -webkit-border-radius: 20px;
                    border-radius: 20px;
            @media (max-width: 1100px) {
                margin-top: 8px;
            }
            @include m1000 {
                margin-top: 20px;
            }
            @include transition(all, .2s);
            &:hover {
                background-color: $grey;
            }
            i {
                margin-right: 9px;
            }
        }
    }
    &--compact {
        .mainHeader__top {
            display: none;
        }
        .contact-compact {
            display: block;
        }
    }
}

.tel,
.mail {
    font: 13px;
    color: #6D7277;
    margin-right: 18px;
    i {
        display: inline-block;
        vertical-align: middle;
        margin-right: 12px;
        color: $blue;
        @include transition(all, .2s);
    }
    span {
        display: inline-block;
        vertical-align: middle;
    }
    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 1px;
        height: 20px;
        background-color: #001626;
        opacity: .1;
        margin-left: 18px;
    }
    &:last-child {
        margin-right: 0;
    }
    &:last-child:after {
        display: none;
    }
    &:hover {
        i {
            color: $blued;
        }
    }
    @media (max-width: 1000px) {
        display: block;
        text-align: center;
        margin-bottom: 10px;
        &:after {
            display: none;
        }
    }
}

/* ------------------------------------ */
/*  NAV STYLES  */
.mainNav {
    > ul {
        list-style-type: none;
        > li {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            margin: 0 40px 0 0;
            @media (max-width: 1500px) {
                margin: 0 0 0 30px;
            }
            @include m1000 {
                display: block;
                margin: 0 auto 10px;
                text-align: center;
            }
            > a {
                display: inline-block;
                font: 13px/32px $os;
                color: #FFF;
                text-transform: uppercase;
                text-shadow: 0px 1px 0px rgba(0, 22, 38, 0.3);
                position: relative;
                margin: 0;
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    max-width: 0;
                    height: 1px;
                    background-color: #FFF;
                    @include transition(all, .2s);
                    box-shadow: 0px 1px 0px 0px rgba(0, 22, 38, 0.2);
                }
                @media (max-width: 1100px) {
                    font-size: 12px;
                }
                @media (max-width: 1000px) {
                    color: $blued;
                }
            }
            .sub-menu {
                position: absolute;
                background-color: #FFF;
                padding: 15px;
                width: 140px;
                left: 50%;
                top: 130%;
                opacity: 0;
                visibility: hidden;
                @include transition(all, .4s);
                box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
                -webkit-transform: translateX(-50%);
                   -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                     -o-transform: translateX(-50%);
                        transform: translateX(-50%);
                @media (max-width: 1000px) {
                    display: none;
                    position: static;
                    box-shadow: none;
                    margin: 10px auto 15px;
                    opacity: 1;
                    visibility: visible;
                    width: 100%;
                    padding: 0;
                    -webkit-transform: none;
                       -moz-transform: none;
                        -ms-transform: none;
                         -o-transform: none;
                            transform: none;
                }
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: -20px;
                    height: 20px;
                    width: 100%;
                    left: 0;
                }
                li {
                    display: block;
                    text-align: center;
                    a {
                        color: $blued;
                        font: 12px/30px $os;
                        text-align: center;
                        text-transform: uppercase;
                        @media (max-width: 1100px) {
                            font-size: 11px;
                        }
                    }
                }
            }
            &:last-of-type {
                margin-right: 0;
            }
            &.active {
                > a:after {
                    max-width: 100%;
                }
            }
            @media (min-width: 1001px) {
                &:hover {
                    .sub-menu {
                        top: 115%;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            &:hover {
                > a:after {
                    max-width: 100%;
                }
            }
        }
    }
}

.mainHeader--dark {
    .mainNav {
        ul {
            li {
                a {
                    color: $blued;
                    &:after {
                        background-color: $blue;
                    }
                }
            }
        }
    }
}

.logo {
    @media (max-width: 1100px) {
        width: 160px;
    }
    @include m1000 {
        display: block;
        margin: 0px auto 20px;
        width: 180px;
    }
    img {
        display: block;
        max-width: 100%;
    }
    &--mobile {
        display: none;
        top: 10px;
        @include m1000 {
            display: block;
            position: absolute;
            left: 20px;
            margin: auto;
        }
    }
}

.social {
    a {
        color: $blue;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        margin-right: 16px;
        i {
            display: inline-block;
            vertical-align: middle;
            width: 14px;
            @include transition(all, .2s);
        }
        &:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 1px;
            height: 20px;
            background-color: #001626;
            opacity: .1;
            margin-left: 16px;
        }
        &:last-child:after {
            display: none;
        }
        &:hover {
            i {
                color: $blued;
            }
        }
    }
}


/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    display: none;
    width: 40px;
    height: 40px;
    @include position(fixed, 14px, 10px, auto, auto);
    margin: auto; 
    cursor: pointer;
    z-index: 100;
    background-color: $blue;
    border: none;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 60%;
        height: 3px;
        background-color: #fff;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
    }

    .top_line              {   top: 10px;  margin: auto;}
    .middle_line           {   top: 18px;  margin: auto;}
    .bottom_line           {   bottom: 10px; margin: auto;}

    &.active               {   -webkit-border-radius: 6px; border-radius: 6px;}
    &.active .top_line     {   @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}

        /*.................media.............*/
        @include m1000 {
            display: block;
        }
        /*..............end media.............*/

}
