.services {
    @include flex($alignI: flex-start);
    &__service {
        width: 32%;
        @media (max-width: 760px) {
            width: 48%;
            margin-bottom: 40px;
        }
        @media (max-width: 600px) {
            width: 100%;
            margin-bottom: 40px;
        }
        i {
            width: 100%;
            display: block;
            margin-bottom: 40px;
            background-position: 50% 50%;
            -webkit-background-size: cover;
                 -o-background-size: cover;
                    background-size: cover;
            @media (max-width: 850px) {
                margin-bottom: 20px;
            }
            &:after {
                content: "";
                display: block;
                padding-top: 59%;
            }
        }
        h3 {
            color: $blue;
            font: 500 20px/30px $r;
            margin-bottom: 20px;
            @media (max-width: 850px) {
                font-size: 18px;
                line-height: 26px;
            }
        }
        p {
            margin-bottom: 10px;
            font-size: 15px;
            line-height: 25px;
            @media (max-width: 850px) {
                font-size: 14px;
                line-height: 22px;
            }
        }
        ul {
            list-style-type: none;
            li {
                font-size: 15px;
                line-height: 25px;
                margin-bottom: 10px;
                @media (max-width: 850px) {
                    font-size: 14px;
                    line-height: 22px;
                    margin-bottom: 8px;
                }
                &:before {
                    content: "";
                    width: 14px;
                    margin-right: 5px;
                    height: 2px;
                    background-color: #aaadb0;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
        .button {
            margin-top: 25px;
        }
    }
}

.banners {
    @include flex($alignI: flex-start);
}
.banner {
    width: 48%;
    padding: 25px 30px;
    text-align: left;
    background-position: right bottom;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    @media (max-width: 600px) {
        width: 100%;
        margin-bottom: 20px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    &__info {
        min-height: 200px;
        @media (max-width: 1000px) {
            min-height: 180px;
        }
        @media (max-width: 800px) {
            min-height: 150px;
        }
        @media (max-width: 600px) {
            min-height: 0;
        }
    }
    p {
        color: #FFF;
        font: 700 56px $r;
        text-shadow: 0 0 10px rgba(0,0,0,.2);
        @media (max-width: 1350px) {
            font-size: 48px;
        }
        @media (max-width: 800px) {
            font-size: 36px;
        }
    }
    .button {
        margin-top: 25px;
        @media (max-width: 800px) {
            margin-top: 15px;
        }
    }
    &:after {
        content: "";
        display: block;
        padding-top: 29%;
        @media (max-width: 800px) {
            padding-top: 20%;
        }
        @media (max-width: 600px) {
            padding-top: 30%;
        }
    }
}


.news-list {
    @include flex($alignI: flex-start);
    @media (max-width: 760px) {
        -webkit-justify-content: space-around;
                justify-content: space-around;
    }
}
.news {
    width: 32%;
    @media (max-width: 760px) {
        width: 45%;
        margin-bottom: 5%;
    }
    @media (max-width: 550px) {
        width: 100%;
        margin-bottom: 7%;
    }
    i {
        display: block;
        background-position: 50% 50%;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        &:after {
            content: "";
            display: block;
            padding-top: 43%;
        }
    }
    &__info {
        background-color: #FFF;
        width: 85%;
        margin: -40px auto 0;
        padding: 20px;
        text-align: left;
        box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.05);
        @media (max-width: 1000px) {
            width: 88%;
            padding: 15px;
        }
        p {
            font: 15px/24px $os;
            @media (max-width: 1000px) {
                font-size: 14px;
                line-height: 20px;
            }
        }
        .title {
            display: block;
            color: $blue;
            font: 500 20px/30px $r;
            margin-bottom: 16px;
            @media (max-width: 1000px) {
                margin-bottom: 10px;
                font-size: 18px;
                line-height: 26px;
            }
        }
        .date {
            margin-bottom: 14px;
            display: block;
            color: $grey;
            font-family: $r;
            font-weight: 500;
            @media (max-width: 1000px) {
                margin-bottom: 10px;
            }
            b {
                font-weight: 700;
            }
        }
    }
    .button {
        display: block;
        margin: 25px auto 0;
        @media (max-width: 1000px) {
            margin-top: 20px;
        }
    }
}


.aboutInfo {
    @include flex($alignI: stretch);
    &__item {
        width: 25%;
        padding: 27px 25px 35px;
        text-align: left;
        @include transition(all, .2s);
        background-position: 50% 50%;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        .title {
            display: block;
            margin: 0 auto 22px;
            text-align: center;
            color: #FFF;
            font: 500 20px $r;
        }
        i {
            display: block;
            margin: 0 auto 20px;
            width: 95px;
            height: 90px;
            background-image: url("../images/about-icons.png");
            background-position: 0 0;
        }
        p {
            font: 16px/25px $os;
            color: rgba(255,255,255,.8);
        }
        &:nth-of-type(1) {
            background-image: url("../images/about-1.jpg");
        }
        &:nth-of-type(2) {
            background-image: url("../images/about-2.jpg");
        }
        &:nth-of-type(3) {
            background-image: url("../images/about-3.jpg");
        }
        &:nth-of-type(4) {
            background-image: url("../images/about-4.jpg");
        }
        &:nth-of-type(1) i {
            background-position: 0 0;
        }
        &:nth-of-type(2) i {
            background-position: -109px 0;
        }
        &:nth-of-type(3) i {
            background-position: -218px 0;
        }
        &:nth-of-type(4) i {
            background-position: -352px 0;
        }
        &:hover {
            background-position: 0 0;
        }
    }
}