.services {
    @include flex($alignI: flex-start);
    &__service {
        width: 32%;
        i {
            width: 100%;
            display: block;
            margin-bottom: 40px;
            background-position: 50% 50%;
            -webkit-background-size: cover;
                 -o-background-size: cover;
                    background-size: cover;
            &:after {
                content: "";
                display: block;
                padding-top: 59%;
            }
        }
        h3 {
            color: $blue;
            font: 500 20px/30px $r;
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 10px;
            font-size: 15px;
            line-height: 25px;
        }
        ul {
            list-style-type: none;
            li {
                font-size: 15px;
                line-height: 25px;
                margin-bottom: 10px;
                &:before {
                    content: "";
                    width: 14px;
                    margin-right: 5px;
                    height: 2px;
                    background-color: #aaadb0;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
        .button {
            margin-top: 25px;
        }
    }
}

.banners {
    @include flex($alignI: flex-start);
}
.banner {
    width: 48%;
    padding: 25px 30px;
    text-align: left;
    background-position: right bottom;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    &__info {
        min-height: 200px;
    }
    p {
        color: #FFF;
        font: 700 56px $r;
        min-height: 110px;
    }
    .button {
        margin-top: 25px;
    }
    &:after {
        content: "";
        display: block;
        padding-top: 29%;
    }
}