.news-grid {
    margin-bottom: -70px;
    margin-top: 55px;

    .news {
        width: 100%;
        margin-bottom: 70px;
    }

    & + .navigation-controls {
        margin-top: 70px;
    }

    @media (max-width: 991px) {
        .col-4 {
            width: 50%;
        }
    }

    @media (max-width: 650px) {
        .col-4 {
            width: 100%;
            text-align: center;
        }

        .news {
            width: 100%;
            display: inline-block;
        }
    }
}