

.post-slider {
    padding: 0 100px;
    margin-top: 55px;
    position: relative;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    margin-bottom: 0;

    @media (max-width: 991px) {
        padding: 0 80px;
    }

    @media (max-width: 767px) {
        padding: 0;
        padding-bottom: 60px;
    }

    .slide {
        position: relative;
        img {
            width: 100%;
        }

        .gallery-item {
            display: inline-block;
            position: absolute;
            top: 10px;
            right: 10px;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            background-color: rgba(0, 22, 38, 0.5);
            color: #fff;
            line-height: 60px;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;

            @media (max-width: 767px) {
                width: 40px;
                height: 40px;
                line-height: 40px;
            }

            &:hover {
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform: scale(1.1);
                background-color: rgba(0, 22, 38, 0.9);
            }
        }
    }

    .slick-arrow {
        width: 85px;
        height: 52px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-top: 0;

        @media (max-width: 991px) {
            width: 60px;
        }

        @media (max-width: 767px) {
            top: auto;
            -webkit-transform: none;
            -ms-transform: none;
            -o-transform: none;
            transform: none;
            bottom: 0;
        }

        &.slick-prev {
            left: -15px;

            @media (max-width: 1200px) {
                left: 0;
            }

            @media (max-width: 767px) {
                left: auto;
                right: 50%;
                margin-right: 15px;
            }
        }

        &.slick-next {
            right: -15px;

            @media (max-width: 1200px) {
                right: 0;
            }

            @media (max-width: 767px) {
                right: auto;
                left: 50%;
                margin-left: 15px;
            }
        }
    }

    .progress {
        position: absolute;
        bottom: 0;
        right: 100px;
        width: 100px;
        background-color: rgba(0, 22, 38, 0.9);
        color: #fff;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        padding: 15px 0;

        @media (max-width: 991px) {
            right: 80px;
        }

        @media (max-width: 767px) {
            right: 0;
            bottom: 60px;
            font-size: 14px;
            padding: 8px 0;
            width: 70px;
        }
    }
}




.post {
    padding: 20px 115px 0;
    text-align: left;
    font-size: 15px;
    line-height: 25px;

    @media (max-width: 991px) {
        padding: 20px 80px 0;
    }

    @media (max-width: 767px) {
        padding: 20px 0 0;
        line-height: normal;
    }

    p {
        line-height: inherit;
    }

    p:not(:last-child),
    ul:not(:last-child),
    ol:not(:last-child),
    table:not(:last-child) {
        margin-bottom: 15px;
    }

    &-date {
        color: #6d7277;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 500px;
        font-family: $r;
        display: block;

        span {
            font-size: 14px;
            font-weight: 600px;
        }
    }

    &-title {
        font-size: 32px;
        color: $text;
        font-weight: 500;
        padding: 5px 0 30px;
        line-height: normal;
    }

    &-content {
        padding-bottom: 60px;
    }


    &-tags {
        text-align: left;
        line-height: normal;

        .tag {
            display: inline-block;
            padding: 1px 15px;
            background-color: $green;
            text-transform: uppercase;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            border: 1px solid $green;
            color: #fff;
            border-radius: 10px;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 0.05em;
            margin: 2px;

            &:hover {
                background-color: transparent;
                color: $green;
            }
        }
    }
}




.more-news-slider {
    .more-news-title {
        font-size: 36px;
        font-weight: 700;
        font-family: $r;
        margin-bottom: 45px;
    }
}

.navigation-controls {
    button {
        display: inline-block;
        vertical-align: middle;
    }

    .button {
        border-color: #7E7F80;
        color: #7E7F80;
        height: 34px;
        line-height: 32px;

        @media (max-width: 767px) {
            width: 120px;
        }

        &:hover {
            background-color: #7E7F80;
            color: #fff;
        }
    }

    .navigation-button {
        width: 75px;
        height: 34px;
        display: inline-block;
        vertical-align: middle;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        -webkit-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        background-color: transparent;
        border: 0;
        cursor: pointer;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;

        &.disabled {
            opacity: 0.5;
            pointer-events: none;
        }

        &:hover {
            -webkit-filter: grayscale(0);
            -o-filter: grayscale(0);
            filter: grayscale(0);
        }

        &.slider-prev,
        &.page-prev {
            background-image: url(../images/prev.svg);
        }

        &.slider-next,
        &.page-next {
            background-image: url(../images/next.svg);
        }
    }
}


.news-slider {
    margin: 0 -15px 60px;

    .slick-list {
        padding-bottom: 10px;
    }
    .slide {
        padding: 0 15px;
    }
    .news {
        width: 100%;
    }
}