
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
    font: 15px $os;
    color: #001626;
}
body {
    font-family: $os;
    color: $text;
}
p {
    font-size: 16px;
    line-height: 30px;
}
.page-title {
    font: 62px $r;
    font-weight: 700;
    color: #FFF;
}
.section-title {
    font: 700 56px $r;
    margin-bottom: 45px;
    text-align: left;
}
.intro-text {
    margin: 0 auto 70px;
    text-align: center;
    max-width: 90%;
    width: 650px;
}
// lAYOUT
// ---------------------------
.wrapper {
	width: 1160px;
	margin: 0 auto;
	text-align: center;
}
.section {
    padding: 60px 0;
}
.bg {
    background-color: #EBEEF0;
}