// COLORS
// ---------------------------
$text:                  #001626;

// FONTS
// ---------------------------
$os:                    'Open Sans';
$r:                     'Raleway';



// RESPONSIVE
// ---------------------------
