// COLORS
// ---------------------------
$green : #3e8925;
$blue: #0072bc;
$blued: #001626;
$grey: #6d7277;
$text:                  #001626;

// FONTS
// ---------------------------
$os:                    'Open Sans';
$r:                     'Raleway';



// RESPONSIVE
// ---------------------------
